.book-container {
   width: 100%;
   display: flex;
   flex-direction: column;

   align-items: center;
   justify-content: center;
}

.book-container header {
   display: flex;
}

.book-container header h2{
   margin-right: 100px;
}

ul.books {
   list-style: none;
   padding: 25px 0;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 75px;

   text-align: center;
}

ul.books li {
   height: 150px;
   width: 150px;

   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}

ul.books .actions {
   width: 150px;
   display: flex;
   justify-content: space-evenly;
}

.button {
   cursor: pointer;
   transition: all 0.2s;
}

.button:hover {
   opacity: 0.6;
}